@use "../helpers";

.merkle {
    margin-top: 40px;
    padding: 30px;
    background-color: helpers.$background-light;

    h2 {
        margin: 6px 0;
    }

    li {
        color: helpers.$text-grey;
        word-wrap: break-word;
    }
}