.navbar {
    display: flex;
    align-items: stretch;
    background-color: #00000000;
    position: relative;
    .tab{
        color: #fff;
        padding: 14px 16px;
        cursor: pointer;
        border: 1px solid #2E3135;
        background: #191C21;
        // font-family: 'rigid-square';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        @media screen and (max-width: 1000px) {
            font-size: 14px;
            max-width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 14px 0;
        }
        &:first-child {
            border-radius: 8px 0px 0px 0px;
        }
         &:last-child {
            border-radius: 0px 8px 0px 0px;
        }
        &.active{
            background: #1d2127;
            border: 1px solid #1d2127;
        }
    }

    .button{
        color: #fff;
        padding: 14px 16px;
        cursor: pointer;
        // border-radius: 8px 0px 0px 0px;
        border: 1px solid #2E3135;
        background: #191C21;
        // font-family: 'rigid-square';
        height: 60px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        width: 100%;
        // max-width: 197px;
        @media screen and (max-width: 1000px) {
            font-size: 14px;
        }
        &:hover {
            color: #FF9517;
        }
        &:active{
            background: #2E3135;
        }
    }

    @keyframes run-button-success {
        0%, 100% { background-color: initial; }
        50% { background-color: MediumSeaGreen; }
    }
    
    @keyframes run-button-failure {
        0%, 100% { background-color: initial; }
        50% { background-color: red; }
    }

    .run-button{
        border-radius: 8px 8px 0px 0px;
        background: #FF9517;
        margin: 0;
        margin-right: 28px;
        color: #000;
        max-width: 156px;
        width: 100%;
        @media screen and (max-width: 475px) {
            max-width: 100px;
        }
        &:hover {
            background: #fff;
            color: #000;
        }
        &.success {
            animation-name: run-button-success;
            animation-duration: 0.5s;
        }
    
        &.failure {
            animation-name: run-button-failure;
            animation-duration: 0.5s;
        }
    }

    .dropdown {
         position: relative;
        @media screen and (max-width: 1000px) {
            flex-grow: 1;
        }
        .dropdown-button {
                border-radius: 8px 0 0 0;;
        }
        .dropdown-content {
            display: none; // Hide dropdown by default
            position: absolute;
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            button {
                width: 100%;
                float: none;
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                border: 0.5px solid #2E3135;
                background: #191C21;
                cursor: pointer;
                outline: none;
                font-size: 16px;
                &:hover{
                    color: #FF9517;
                }

                &:active{
                    color: #FF9517;
                }
            }
        }
        .dropdown-chevron svg {
            transition: transform 0.2s ease;
        }
        
        &:hover {
            .dropdown-chevron svg {
                transform: rotate(180deg);
                path {
                    fill: #FF9517;
                }
            }
            
            .dropdown-content {
                display: block;
            }
        }

    }

    .hamburger-container {
        display: none;
        @media screen and (max-width: 1000px) {
            border-radius: 0px 8px 0px 0px;
            border: 1px solid #2E3135;
            background: #191C21;
            width: 100%;
            position: relative;
            max-width: 50px;
            margin-left: auto; 
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .hamburger-active {
        background: #2E3135;
    }

    .mobile-hidden{
        display: flex;
        @media screen and (max-width: 1000px) {

            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 0;
            z-index: 2;
            background: #0d0e10;

            &.open{
                display: flex;
            }

            button{
                width: 100%;
            }
        }
    }

    form .button {
        border-radius: 0 8px 0 0;
    }
}

